RentWheels/
│──  templates/
│   │── about.html
│   │── add_car.html
│   │── base.html
│   │── admin.html
│   │── book_car.html
|   │── car_listings.html
│   │── contact.html
│   │── edit_car.html
│   │── faq.html
│   │── index.html
│   │── login.html
│   │── manage_cars.html
│   │── manage_users.html
│   │── my_bookings.html
│   │── payment_success.html
│   │── payment_summary.html
│   │── register.html
│   │── view_bookings.html
│   │── view_messages.html
│
│── static/
│   │── images/
│   │   │── cars/
│   │   |   │── (car images)
│   │   │── invoices/
│   │   |   │── (invoice pdfs)
│   │── js/
│   │   │── script.js
│   │── css/
|       |──style.css
|
│── _pycache_/
│   │── app.cpython-39.pyc
│   │── app_routes.cpython-39.pyc
│   │── db_connection.cpython-39.pyc
|
│── app.py
│── app_routes.py
│── db_connection.py
│── models.py
│── test_db.py
│── rentwheels_db.sql
│── requirements.txt
│── README.md   
